{% extends 'index.html' %}
{% load static %}
{% block head %}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link rel="stylesheet" href="{% static 'assets/CSS/form.css'%}">
{% endblock head %}
{% block navlink %}
    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
{% endblock navlink %}
{% block header %}
        <div class="masthead-content">
            <div class="container swing animated">
                  <div class="middle">
  <h1>Naye Page pe aagaya</h1>
                      <div id="app">

	<p>
		<strong>Room ID: </strong>
		<span class="key">{{ room_id }}</span>
		<i class="copy hide far fa-copy"></i>
		<span class="copied hide">
			<i class="fas fa-check"></i> <small>Copied!</small>
		</span>
	</p>
                          <p class="small">(Tap on Room Id to copy)</p>
</div>

</div>
        </div>
        </div>
    <script>
const key = document.querySelector('.key')
const keyText = key.innerText
const copy = document.querySelector('.copy')
const copied = document.querySelector('.copied')


// Show "copy" icon on hover with helper class.
key.addEventListener('mouseover', () => copy.classList.remove('hide'))
key.addEventListener('mouseleave', () => copy.classList.add('hide'))


// Copy text when clicking on it.
key.addEventListener('click', () => {
	// We change "copy" icon for "copied" message.
	copy.classList.add('hide')
	copied.classList.remove('hide')

	// We turn simple text into an input value temporarily, so we can use methods .select() and .execCommand() which are compatible with inputs and textareas.
	let helperInput = document.createElement('input')
	document.body.appendChild(helperInput)
	helperInput.value = keyText
	helperInput.select()
	document.execCommand('copy')
	document.body.removeChild(helperInput)

	// We remove the "copied" message after 2 seconds.
	setTimeout( () => {
		copied.classList.add('hide')
	}, 2000)

})
    </script>
{% endblock header %}